<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="d-flex mb-3">
    <div class="card mr-3 bg-dark" style="width: 18rem;">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key %>
      <% else %>
        <%= image_tag asset_path('avatar_default.png') %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title text-white"><%= current_user.first_name %></h5>
        <p class="card-title text-muted"><%= current_user.email %></p>
      </div>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'flex-grow-1' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text-light-gray">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :first_name,
                    hint: "leave it blank if you don't want to change it",
                    required: false %>
        <%= f.input :last_name,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :photo,
                    as: :file, label: "Select a new avatar" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn button-orange mb-3"%>
      </div>
    <% end %>
  </div>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
