<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<%= image_tag asset_path('sitripio-logo.png'), class: 'avatar' %>

<h2 class="navbar-sitripo">SiTripiocerefefer</h2>

  <%# commenting out the use of logo generated via the link %>
  <% if false %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://thenounproject.com/icon/camping-4581388/" %>
    <% end %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Explore", offers_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My trips", overview_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <a class="avatar" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 40, width: 40, class:'rounded-circle avatar'%>
              <% else %>
                <%= image_tag asset_path('avatar_default.png'), class: 'avatar' %>
              <% end %>
            </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
