<h1>Showing XX results</h1>

<div class="main">
  <ul class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offer do %>
      <li class="cards_item">
        <div class="card-trip">
          <img src="https://source.unsplash.com/random" />
          <div class="card-trip-infos">
            <div>
              <h2><%= offer.title %></h2>
              <p><%= offer.description %></p>
              <h2 id="card-location"><%= offer.location %></h2>
            </div>
            <div>
              <h2 class="card-trip-pricing">€<%= offer.fee %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <% end %>
  </ul>
</div>

<h3 class="made_by">Made with ♡</h3>
