<h2 class="head-title">
  We found
  <u>
    <strong>
      <%= pluralize @offers.size, 'offer' %>
    </strong>
  </u>
  for you
</h2>

<div class="main">
  <ul class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offer do %>
      <li class="cards_item">
        <div class="card-trip">
          <img src="https://source.unsplash.com/random" />
          <div class="card-trip-infos">
            <div>
              <h2 class="crop-title"><%= offer.title %></h2>
              <p class="crop-body"><%= offer.description %></p>
              <h2 class="card-location"><%= offer.location.split(', ').last %></h2>
            </div>
            <div>
              <h2 class="card-trip-pricing">€<%= offer.fee %></h2>
              <% if offer.organizer.photo.attached? %>
                <%= cl_image_tag offer.organizer.photo.key, class:'organizer-avatar'%>
              <% else %>
                <%= image_tag asset_path('avatar_default.png'), class: 'organizer-avatar' %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <% end %>
  </ul>
<div
     id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
