<div>
  <%= simple_form_for(@offer) do |o| %>
    <%= o.input :title %>
    <%= o.input :description %>
    <%= o.input :location %>
    <%= o.input :fee %>
    <%= o.submit %>
  <% end %>
</div>

<%= link_to 'Back', offers_path %>
