<h2 class="head-title"><strong>My Overview</strong></h2>

<div class="main">
<div class="section">
  <h2>My offers</h2>
  <% if @user_offers.nil? || @user_offers.empty? %>
    <p>You have not organized a trip yet. Lets create one!</p>
    <%= button_to "Create offer", new_offer_path, method: :get, class: "btn-flat"  %>

  <% else %>
    <ul class="cards">
      <% @user_offers.each do |offer| %>
        <%= link_to offer do %>
          <li class="cards_item">
            <div class="card-trip">
              <% if offer.photos.attached? %>
                <%= cl_image_tag offer.photos.first.key %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2 class="crop-title"><%= offer.title %></h2>
                  <p class="crop-body"><%= offer.description %></p>
                  <h2 class="card-location"><%= offer.location.split(', ').last %></h2>
                </div>
                <div>
                  <h2 class="card-trip-pricing">€<%= offer.fee %></h2>
                  <% if offer.organizer.photo.attached? %>
                <%= cl_image_tag offer.organizer.photo.key, class:'organizer-avatar'%>
              <% else %>
                <%= image_tag asset_path('avatar_default.png'), class: 'organizer-avatar' %>
              <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  </div>

  <div class="section">
  <h2>My bookings</h2>
  <% if @booked_offers.nil? || @booked_offers.empty? %>
    <p>You have booked <u><strong><%= @booked_offers.count %> trips</strong></u>. Start booking now!</p>
    <%= link_to "Explore trips", offers_path, class: "btn-flat" %>
  <% else %>
    <p>You have booked <u><strong><%= @booked_offers.count %> trips</strong></u></p>
    <ul class="cards">
      <% @booked_offers.each do |offer| %>
        <li class="cards_item">
          <div class="card-trip">
            <img src="https://source.unsplash.com/random" class="trip-image"/>
            <%= button_to "Delete booking", booking_path(current_user.bookings.find_by(offer_id: offer.id)), class: "btn-delete hide", method: :delete  %>
            <div class="card-trip-infos">

              <div>
                <%= link_to offer do %>
                  <h2 class="crop-title"><%= offer.title %></h2>
                <% end %>
                <p class="crop-body"><%= offer.description %></p>
                <h2 class="card-location"><%= offer.location.split(', ').last %></h2>
              </div>

              <div>
                <h2 class="card-trip-pricing">€<%= offer.fee %></h2>
                <% if offer.organizer.photo.attached? %>
                  <%= cl_image_tag offer.organizer.photo.key, class:'organizer-avatar'%>
                <% else %>
                  <%= image_tag asset_path('avatar_default.png'), class: 'organizer-avatar' %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  </div>
</div>
