<div class="main">
<div class="bootstrap-carousel">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <% @offer.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= "active" if index.zero? %>">
        <%= cl_image_tag photo.key, class: "d-block w-100 carousel-item active" %>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div class="info-panel">
    <div class="left-info-panel">
      <p class="title-label">OVERVIEW</p>
      <h2><strong><%= @offer.title %></strong></h2>
      <p> <%= @offer.description %></p>
      <div class="details">
        <div class="overview-titles">
          <h3>Organizer</h3>
            <div class="organizer">
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="trip-organizer" />
              <div class="organizer-infos">
                <p>Contact me: <%= @offer.organizer.email %></p>
              </div>
            </div>
          <h3>Higlights</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ea quo totam minus eveniet voluptatum perspiciatis labore neque dicta pariatur maiores, tempore dolorem obcaecati, cum perferendis eos? Aspernatur, reprehenderit alias?</p>
          <div class="details-icons">
            <div class="details-icon">
              <i class="far fa-clock"></i>
              <p>Duration: <strong><%= @offer.days_duration %> days</strong></p>
            </div>
            <div class="details-icon">
              <i class="fas fa-users"></i>
              <p>Maximum group size: <strong><%= @offer.capacity %> people</strong> </p>
            </div>
            <div class="details-icon">
              <i class="fas fa-globe-americas"></i>
              <p>Location: <strong><%= @offer.location %> people</strong> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-info-panel">
      <div class="block">
        <p class="title-label">OFFER DETAILS</p>
        <div class="btn-flat rails-link-to text-decoration-none">



          <strong><%= link_to "Book now for €#{@offer.fee}", offer_bookings_path(@offer), method: :post, data: {confirm: 'Do you want to proceed with booking?'}, target: "_blank" %></strong>
        </div>
      </div>
      <div>
        <p class="title-label">REVIEWS</p>
      </div>

      </div>
    </div>
   </div>
    <div class="map">
      <h2>Location</h2>
    </div>
  </div>
</div>
